*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.pDiv{
    height: 100vh;
    width: 100vw;
}

.p0{
    background-image: url(src/assets/parallax0.png);
    background-position: center;
}

.p1{
    background-image: url(src/assets/parallax1.png);
    background-position: center;
}

.p2{
    background-image: url(src/assets/parallax2.png);
    background-position: center;
}

.p3{
    background-image: url(src/assets/parallax3.png);
    background-position: center;
}

.p4{
    background-image: url(src/assets/parallax4.png);
    background-position: center;
}

.p5{
    background-image: url(src/assets/parallax5.png);
    background-position: center;
}

.p6{
    background-image: url(src/assets/parallax6.png);
    background-position: center;
}

.p7{
    background-image: url(src/assets/parallax7.png);
    background-position: center;
}

.p8{
    background-image: url(src/assets/parallax8.png);
    background-position: center;
}

.rest{
    position: absolute;
    width: 100vw;
    height: 1000vh;
    background-color: #210002;
    margin-top: 100vh;
    color: #FFAF1B;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    font-size: 2.5rem;
}

a{
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translate(-50%);
    padding: 1rem 2rem 1rem 2rem;
    background-color: #FFAF1B;
    color: #210002;
    text-decoration: none;  
    border-radius: 10px;
    transition: all .2s;
}

a:hover{
    background-color: #aa7615;
}